@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;

// HomeHeader for mobile
.home-header {
  padding: 4rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  &__caption {
    color: white;
    margin: 0 0 1rem 0;
  }

  &__button {
    width: 5rem;
    border: none;
    font-weight: 700;
    color: white;
    height: 2rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1.5rem;
    &:hover {
      color: $black;
      background-color: white;
    }
  }
}

// HomeHeader for Tablet
@include medium {
  .home-header {
    padding: 15rem 0;

    &__caption {
      padding: 0 2rem;
      font-size: 2rem;
    }

    &__button {
      width: 8rem;
      height: 2.5rem;
    }
  }
}

// HomeHeader for Desktop
@include large {
  .home-header {
    padding: 20rem 0;

    &__caption {
      padding-bottom: 1.5rem;
      font-size: 3rem;
    }

    &__button {
      width: 10rem;
      height: 3rem;
    }
  }
}
