// primary colors for background change
$white: #FFFFFF;
$blue: #2b0e80;
$purple: #8a2bc2;
$brown: #80461B;
$black: #000000;

// secondary colors
$brain-flix-black: #323232; //Primary text color.
$silver: #afafaf; //Secondary text color. Text Label color.
$mercury: #e1e1e1; //Divider line. Form field outline color.
$alabaster: #fafafa; //Form field background color.