@use "./partials/fonts" as *;

html,
body {
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Anek Devanagari";
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}