@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;
@use "../../Styles/Partials/buttons" as *;



.user {
    &--hide{
      display: none;
    }

    .uper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .upload-video-but {
    @include btn-theme;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    width: 80%;
  }

  .upload {
    display: none;
    &--show {
      display: flex;
      justify-content: center;
    }
  }

  @include medium {
    .head {
      display: flex;
      justify-content: space-between;
       border-bottom: 1px solid $mercury;
       margin-right: 2rem;
       margin-left: 2rem;
    }

    .user {
      .uper {
        width: 30%;
        justify-content: flex-start;
      }

      .upload-video-but {
        width: 100%;
      }

    }
  }

  @include large {
     .head {
      margin: 1rem 3rem 0 3rem;
     }

     .upload-video-but {
      font-size: 1.5rem;
    }
  }
    

  
