@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;



.user {
    &--hide{
      display: none;
    }
  }

  .upload {
    display: none;
    &--show {
      display: flex;
    }
  }

  
