@use "../../Styles/Partials/colors" as *;

.search {
  display: flex;
  align-items: center;

  &__button {
  cursor: pointer;
  margin-left: 0.5rem;
  }

  &__form {
  display: flex;
  align-items: center;
  margin-left: 0.63rem;
  }

  &__input {
  border-radius: 0.25rem;
  border: 1px solid $mercury;
  background-color: $alabaster;
  width: 10rem;
  font-size: 0.88;
  padding: 0.32rem;
  outline: none;
  }
}
