@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;

// Navbar for mobile
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &__logo {
    align-self: center;
    width: 10rem;
    height: 3rem;
  }

  &__bars {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $black;
  }
}

// Navbar form for tablet
@include medium {
  .navbar {
    padding: 1rem 2rem;
  }
}

// Navbar form for Desktop
@include large {
  .navbar {
    padding: 1rem 3rem;
  }
}

