@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;
@use "../../Styles/Partials/buttons" as *;

// User profile for mobile
.users {
  margin-top: 1rem;
  width: 100%;

  &__avatar,
  &__information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__photo {
    object-fit: cover;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    flex-shrink: 0;
  }

  textarea:focus {
    outline: none;
  }

  &__name {
    font-family: "Anek Devanagari";
    font-weight: 600;
    font-size: 2rem;
    border: none;
    text-align: center;
  }

  &__email {
    font-family: "Anek Devanagari";
    border: none;
    text-align: center;
    font-size: 1rem;
  }

  &__belt {
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
  }

  &__edit-but {
    @include btn-theme;
    font-size: 1rem;
    width: 80%;
    margin-top: 1rem;
  }

  select:focus {
    outline: none;
  }

  &__edit-profile {
    @include btn-theme;
    appearance: none;
    text-align: center;
    background-image: url(../../Assets/Icons/drop_down_arrow.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    height: 1.9375rem;
    width: 80%;
    margin: 1rem 0 0.5rem 0;
  }

   &__but-icon {
    font-size: 1rem;
  }

  &__update,
  &__cancel {
    background-color: white;
    border: none;
  }
}

// User profile for tablet
@include medium {
  .users {
    margin-top: 2rem;
    // margin-left: 0;
    // width: 30%;

//     &__details {
//       flex-direction: column;
//     }

//     &__avatar {
//       display: flex;
//       justify-content: center;
//     }

    &__name {
      padding-top: 1rem;
    }
    // &__belt {
    //   height: 2rem;
    //   width: 100%;
    // }
  }
}

// User profile for desktop
// @include large {
//   .users {
//     width: 35%;

//     &__photo {
//       width: 15rem;
//       height: 15rem;
//     }

//     &__name {
//       font-size: 2rem;
//     }

//     &__belt {
//       height: 2rem;
//       margin-bottom: 1.3rem;
//     }

//     &__edit-profile {
//       font-size: 1.5rem;
//     }

//     &__edit-profile {
//       height: 2.8125rem;
//     }
//   }
// }
