@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;
@use "../../Styles/Partials/buttons" as *;

// User profile for mobile
.users {
  margin: 1rem;

  &__details {
    display: flex;
  }
  &__photo {
    margin-right: 1rem;
    object-fit: cover;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
  }

  &__information {
    align-self: center;
  }

  &__name {
    font-weight: 600;
    margin: 0;
  }

  &__belt {
    width: 100%;
  }

  &__edit-profile {
    @include btn-theme;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select:focus {
    outline: none;
  }

  &__edit-profile {
    appearance: none;
    text-align: center;
    background-image: url(../../Assets/Icons/drop_down_arrow.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    height: 1.9375rem;
  }
}

// User profile for tablet
@include medium {
  .users {
    margin-top: 2rem;
    margin-left: 0;
    width: 30%;

    &__details {
      flex-direction: column;
    }

    &__avatar {
      display: flex;
      justify-content: center;
    }

    &__photo {
      width: 8rem;
      height: 8rem;
      border: 5px solid $blue;
    }

    &__name {
      padding-top: 1rem;
      padding-bottom: 0.4rem;
      text-align: center;
    }
    &__belt {
      height: 1.5rem;
      margin-bottom: 0.5rem;
    }

      
  }
}

// User profile for desktop
@include large {
  .users {
    width: 35%;

    &__photo {
      width: 15rem;
      height: 15rem;
    }

    &__name {
      font-size: 2rem;
    }

    &__belt {
      height: 2rem;
      margin-bottom: 1.3rem;
    }

    &__edit-profile {
      font-size: 1.5rem;
    }

    &__edit-profile {
        height: 2.8125rem;
      }
  }
}
