@use "../../Styles/Partials/breakpoints" as *;
@use "../../Styles/Partials/colors" as *;

// HomePage for mobile
.home {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../../Assets/Images/timothy-eberly-7MRajrPiTqw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__header {
    &--hide {
      display: none;
    }
  }

  &__login {
    display: none;
    &--show {
      display: flex;
    }
  }
}
